.img{
    width:95px;
    height:95px;
}
#a{
    color:mediumvioletred;
    text-decoration:none;
    font-weight:bold;
    font-size:30px;
}
h1{
    color:green;

}
p{
    text-align: center;
    color:red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    
}